<div class="container jumbotron">
<h1><%= t('home.title') %></h1>
<p><%= t('home.p') %></p>
</div>
<div class="container">
  <% if user_signed_in? %>
    <p><%= link_to t('home.button.new_post'), new_user_post_path(@user), class: "btn btn-primary" %></p>
    <% else %>
    <p><%= link_to t('home.button.sign_in'), new_user_session_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
<div class="container post-container">
  <p><% @posts.each do |post| %></p>
    <p><%= t('home.post') %> : <%= post.user.first_name %></p>
    <p><%= t('home.post_date') %> : <%= post.updated_at %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
  <% end %>
</div>