<div class="container">
  <h1><%= t('user.profile.title') %><%= @user.email %></h1>
  <p><%= @user.first_name %></p>
  <p><%= @user.last_name %></p>
  <p><%= @user.locale %></p>
  <p><%= link_to 'Update profile', edit_user_registration_path %></p>
</div>